* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgb(228, 171, 91);
    font-size: 13px;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    width: 430px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

.lengthContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.alertContainer {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: rgb(41, 228, 53);
    color: white;
    font-size: 22px;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 350px;
    height: 50px;
    box-shadow: rgba(237, 6, 118, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input {
    border: none;
    background: none;
    font-size: 20px;
    outline: none;
}

i:hover {
    cursor: pointer;
    opacity: 0.4;
}

.passwordButton {
    margin-top: 10px;
    font-size: 20px;
    padding: 3px 16px;
    background: rgb(185, 161, 246);
    border-radius: 10px;
    border: 3px solid black;
}

.active {
    right: -350px;
    transition: 1s;
}